{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

    <h1>Create a new page</h1>
    <div>
    <form action="" method="post">
        {% csrf_token %}
        {{ editpage }}
        <input type= "submit" value="submit">
    </form>
    </div>
    <!-- <div>
        <label for= "Content">Content</label>

        <textarea name = "content" rows = "10" cols="50">
        Content
        </textarea>
    </div> -->

{% endblock %}
